.icon-name-row {
    display: flex;
    column-gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.device-info {
    font-size: 14px;
    font-weight: 400;
    color: #6E6D7A;
}

.device-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}