.page-wrapper {
  margin: 0px 24px
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.filters-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.filters {
  display: flex;
  column-gap: 10px;
}

.add-btn {
  background-color: #337AB7;
  border: white;
  height: 38px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.add-btn:hover {
  opacity: 0.9;
}

.btn-text {
  font-size: 14px;
  margin-left: 8px;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
}

.refresh-btn {
  background: none; /* No default button background */
  border: none;     /* Remove default button border */
  cursor: pointer;  /* Makes the cursor a pointer on hover */
  padding: 8px;     /* add padding for better click area */
  transition: transform 0.2s ease, color 0.2s ease; /* Smooth transition */
}

.refresh-btn:hover {
  transform: scale(1.25);  /* Slightly enlarge icon on hover */
}