.device-table {
    width: 100%;
    border-collapse: collapse;
}
  
.device-table th {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    border-bottom: 1px solid #CBCFD3;
    width: 100%;
}
  
.device-table td {
    padding: 8px 12px;
    border-bottom: 1px solid #E7E8EB;
    font-size: 14px;
}

.device-row:hover {
  background-color: #F4F4F5;
}

.action-cell {
  /* background-color: blue; */
  text-align: right;
  /* background: blue; */
  width: 100px

}